<div ng-controller="navController as navContrl">
    <nav-dec>Call partials nav.html</nav-dec>
</div>

<div class="body">
    <div class="container">

        <div class="jumbotron text-center">
            <h1>연구소 설문</h1>
        </div>
        <div class="panel panel-default">
            <table class="table table-hover table-condensed">
                <thead align="center">
                    <tr>
                        <th width=20>Index</th>
                        <th width=200>제목</th>
                        <th width=70>날짜</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-if="$index!=0;" ng-repeat="vote in mainCtrl.voteMsgs">
                        <td width=20>{{vote.id}}</td>
                        <td width=200>
                            <a ui-sref="vote({id:vote.id,subject:vote.subject})">{{vote.subject}}</a>
                        </td>

                        <td width=70><small>{{vote.created_at}}</small></td>

                    </tr>
                    <tr ng-show="!mainCtrl.voteMsgs.length">
                        <td colspan="6" style="text-align :center">
                            <span class="text-warning">No data exists.</span>
                        </td>
                    </tr>



                </tbody>
            </table>

        </div>
        <!--pageing -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li><a ng-click="mainCtrl.pageClick(1)">&laquo;</a>
                    </li>
                    <li ng-if="mainCtrl.beforePage"><a ng-click="mainCtrl.pageClick(myPageCtrl.startPage-1)">&lsaquo;</a>
                    </li>
                    <li ng-if="!mainCtrl.beforePage"><a ng-click="mainCtrl.pageClick(1)">&lsaquo;</a>
                    </li>

                    <li ng-repeat="p in mainCtrl.range()">
                        <a ng-click="mainCtrl.pageClick(p)">{{p}}</a>
                    </li>
                    <li ng-if="mainCtrl.afterPage"><a href="" ng-click="mainCtrl.pageClick(mainCtrl.endPage+1)">&rsaquo;</a>
                    </li>
                    <li ng-if="!mainCtrl.afterPage"><a href="" ng-click="mainCtrl.pageClick(mainCtrl.totalPage)">&rsaquo;</a>
                    </li>
                    <li><a ng-click="mainCtrl.pageClick(mainCtrl.totalPage)">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!---->
    </div>
</div>