<div ng-controller="navController as navContrl">
  <nav-dec>Call partials nav.html</nav-dec>
</div>


<div class="body">
  <div class="body-content">
    <h1>{{voteCtrl.voteContent.title}}</h1>  
    
      <div class="vGraph" ui-sortable ng-model="voteCtrl.voteContent.votes">
        <ul>
          <li class="input-group" ng-repeat="vote in voteCtrl.voteContent.votes" style="padding: 5px 10px;"> 
              <span class="gTerm"><input type="radio" name="options" autocomplete="off" ng-click="voteCtrl.onRadioClick(voteCtrl.voteContent.votes[$index])"/><p>{{vote.content}} {{vote.num}}</p></span>   
              <span class="gBar" style="height:{{vote.percentage}}%">  
              <span>{{vote.percentage}}%</span>       
          </li> 
        </ul>
      </div> 
      <br/><br/>
      <button class="btn btn-primary" style="width:120px" ng-click="voteCtrl.onResponse()">응답완료</button>
  </div>
</div>